<div id="pageTitle">
	<h1>Edit <%= @word.term%></h1>
</div>

<div id="toolbar">
    <div id="leftItem" class="backButton"><%= link_to "Cancel", :action => :show, :id => @word.object %></div>
    <div id="rightItem" class="regularButton"><%= link_to "Delete", :action => :delete, :id => @word.object %></div>
</div>

<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
            <input type="hidden" name="id" value="<%= @word.object %>"/>
            <ul>
                
                <li>
                    <label for="word[term]" class="fieldLabel">Term</label>
                    <input type="text" name="word[term]" value="<%= @word.term%>" <%= placeholder( "Term" ) %> />
                </li>
                
            </ul>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>