<div id="pageTitle">
	<h1><%= @word.term%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @word.object %>
</div>


<div id="content">

    <table>

      <th><td>Term</td></th>

      <% @word.wordnik_definitions.each do |definition| %>
          <tr><td><%= definition['text'] %></td></tr>
      <% end %>

      <% @word.mightyverse_definitions.each do |definition| %>
          <% phrase = definition['phrase'] %>
          <tr>
              <td>(<%= phrase['language'] %>)</td>
              <td><a href="<%= definition['video_uri'] %>"><%= phrase['text'] %></a></td>
          </tr>
          <tr>
              <td><%= phrase['translation']['text'] %></td>
          </tr>
      <% end %>

    </table>
</div>
