<div class="pageTitle">
	<h1><%=@word.term%></h1>
</div>

<div class="toolbar">
    <div class="leftItem backButton">
      <a href="<%= url_for :action => :index %>">Back</a>
    </div>
</div>

<div class="content">
    <% if @word.wordnik_definitions.length > 0 %>
        <div class="header">Definitions</div>
        <ul>
            <% list = @word.wordnik_definitions[0..2] %>
            <% rest = @word.wordnik_definitions[3..-1] %>
            <% list.each do |definition| %>
                <% if definition['text'] != nil %>
                    <li>
                        <div><%= definition['text'] %></div>
                    </li>
                <% end %>
            <% end %>
            <% if rest != nil %>
                <li class="more">
                    <a href="http://www.wordnik.com/words/<%= @word.term.downcase %>">More Wordnik definitions...</a>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @word.mightyverse_definitions.length > 0 %>
        <div class="header">Phrases</div>
        <ul>
            <% list = @word.mightyverse_definitions[0..2] %>
            <% rest = @word.mightyverse_definitions[3..-1] %>
            <% list.each do |definition| %>
                <% phrase = definition['phrase'] %>
                <li>
                    (<%= phrase['language'] %>)<a href="<%= definition['video_uri'] %>"><%= phrase['text'] %></a><br/>
                    <%= phrase['translation']['text'] %>
                </li>
            <% end %>
            <% if rest != nil %>
                <li class="more">
                    <a href="http://www.mightyverse.com/search/target_language/en?term=<%= @word.term.downcase %>">More Mightyverse phrases...</a>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>